# @wordpress/scripts error "Cannot find module 'ajv/dist/compile/codegen'" #62801
# [I had the same issue with a .npmrc file which set legacy-peer-deps = true and/or prefer-dedupe = true.](https://github.com/WordPress/gutenberg/issues/62801#issuecomment-2416670029)
# legacy-peer-deps=true
enable-pre-post-scripts=true
engine-strict=true
save-exact=true
install-links=true
